In [2]:
import os
import sys
sys.path.append('C:\\Users\\Khari\\Documents\\Algo\\Resources')
import khariTrader
import time

In [26]:
df = khariTrader.get_currency_bars("EUR_USD","H1",40)

In [27]:
df['Trade'] = 0

In [24]:
df.Trade.iloc[[14]] = 1
df.Trade.iloc[[4]] = -1
df.Trade.iloc[[35]] = 1

C:\Users\Khari\Anaconda3\envs\oandaEnv\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [25]:
df.head()

,Open,High,Low,Close,Volume,Complete,Trade
time,,,,,,,
2018-07-30 23:00:00,1.17084,1.17097,1.17071,1.17076,331,True,0
2018-07-31 00:00:00,1.17082,1.17112,1.17047,1.17094,1010,True,0
2018-07-31 01:00:00,1.17088,1.17109,1.17019,1.17102,1041,True,0
2018-07-31 02:00:00,1.17100,1.17103,1.17027,1.17089,922,True,True
2018-07-31 03:00:00,1.17084,1.17102,1.17034,1.17088,517,True,0

In [ ]:
def gener():
    for i in range(10)

In [ ]:
pandas